// Copyright (c) 2015 Princeton University
// All rights reserved.
// 
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//     * Redistributions of source code must retain the above copyright
//       notice, this list of conditions and the following disclaimer.
//     * Redistributions in binary form must reproduce the above copyright
//       notice, this list of conditions and the following disclaimer in the
//       documentation and/or other materials provided with the distribution.
//     * Neither the name of Princeton University nor the
//       names of its contributors may be used to endorse or promote products
//       derived from this software without specific prior written permission.
// 
// THIS SOFTWARE IS PROVIDED BY PRINCETON UNIVERSITY "AS IS" AND
// ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
// WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
// DISCLAIMED. IN NO EVENT SHALL PRINCETON UNIVERSITY BE LIABLE FOR ANY
// DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
// (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
// LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
// ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
// (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
// SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

// Tesbench configuration file for the fpga_fpga_lpc_bridge environment

<fpga_fpga_lpc_bridge>
    -model=fpga_fpga_lpc_bridge
    -toplevel=bridge_out_tb
    -flist=$DV_ROOT/design/common/fpga_bridge/fpga_send/rtl/Flist.fpga_send
    -flist=$DV_ROOT/design/common/fpga_bridge/fpga_rcv/rtl/Flist.fpga_rcv
    -flist=$DV_ROOT/verif/env/fpga_fpga_lpc_bridge/fpga_fpga_lpc_bridge.flist
    -flist=$DV_ROOT/verif/env/test_infrstrct/test_infrstrct_include.flist
    -env_base=$DV_ROOT/verif/env/fpga_fpga_lpc_bridge
    -sim_build_args=+incdir+$DV_ROOT/verif/env/test_infrstrct/
    -vcs_build_args=+notimingcheck
    -vcs_build_args=+nospecify
    -vcs_build_args=+nbaopt
    -vcs_build_args=-Xstrict=1 -notice
    -vcs_build_args=-y $XILINX/verilog/src/unisims
    -vcs_build_args=-y $XILINX/verilog/src/XilinxCoreLib
    -sim_build_args=+incdir+$XILINX/verilog/src
    -vcs_build_args=+libext+.v
    -vcs_build_args=-Mupdate 
    -vcs_cm_args=line+tgl+cond+branch+fsm
</fpga_fpga_lpc_bridge>
