// Modified by Princeton University on June 9th, 2015
// ========== Copyright Header Begin ==========================================
// 
// OpenSPARC T1 Processor File: sims.config
// Copyright (c) 2006 Sun Microsystems, Inc.  All Rights Reserved.
// DO NOT ALTER OR REMOVE COPYRIGHT NOTICES.
// 
// The above named program is free software; you can redistribute it and/or
// modify it under the terms of the GNU General Public
// License version 2 as published by the Free Software Foundation.
// 
// The above named program is distributed in the hope that it will be 
// useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// General Public License for more details.
// 
// You should have received a copy of the GNU General Public
// License along with this work; if not, write to the Free Software
// Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA.
// 
// ========== Copyright Header End ============================================
// top level config file for sims
// this file describes the default arguments passed to sims
// to build each testbench and run diags using them

#include "manycore.config"

#include "test_infrstrct.config"
#include "ifu_esl.config"
#include "ifu_esl_lfsr.config"
#include "ifu_esl_rtsm.config"
#include "dmbr.config"
#include "dmbr_source_sink.config"
#include "ifu_esl_stsm.config"
#include "chip_fpga_bridge.config"
#include "fpga_chip_bridge.config"
#include "fpga_fpga_hpc_bridge.config"
#include "fpga_fpga_lpc_bridge.config"
#include "dmbr_test.config"
#include "ifu_esl_counter.config"
#include "ifu_esl_fsm.config"
#include "ifu_esl_shiftreg.config"
#include "ifu_esl_htsm.config"
#include "jtag_testbench.config"
#include "memctrl_test.config"
#include "sdctrl_test.config"
#include "host_fpga_comm.config"
