[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = https://gitlab.bsc.es/meep/FPGA_implementations/AlveoU280/meep_ariane.git
[submodule "aws"]
	path = piton/design/aws
	url = https://github.com/PrincetonUniversity/openpiton-aws.git
[submodule "piton/design/chipset/rv64_platform/bootrom/u-boot/uboot"]
	path = piton/design/chipset/rv64_platform/bootrom/u-boot/uboot
	url = https://github.com/u-boot/u-boot.git
[submodule "piton/design/chip/tile/noc/pronoc"]
	path = piton/design/chip/tile/noc/pronoc
	url = https://gitlab.bsc.es/hwdesign/fpga/third-party/bsc-pronoc.git
[submodule "piton/design/chip/tile/vas_tile_core"]
	path = piton/design/chip/tile/vas_tile_core
	url = https://gitlab.bsc.es/meep/rtl_designs/vas_tile_core.git
[submodule "piton/design/chipset/meep-memtile"]
	path = piton/design/chipset/meep-memtile
	url = https://gitlab.bsc.es/meep/rtl_designs/acme_components/meep-memtile.git
[submodule "piton/design/chipset/io_ctrl/xilinx/common/ip_cores/eth_cmac_syst"]
	path = piton/design/chipset/io_ctrl/xilinx/common/ip_cores/eth_cmac_syst
	url = ../../fpga/integration-lab/100gb-ethernet.git
