[submodule "piton/design/chip/tile/ariane"]
	path = piton/design/chip/tile/ariane
	url = https://github.com/pulp-platform/ariane.git
[submodule "aws"]
	path = piton/design/aws
	url = https://github.com/PrincetonUniversity/openpiton-aws.git
[submodule "piton/verif/diag/sparcv9"]
    path = piton/verif/diag/sparcv9
    url = git@github.com:openpiton/sparcv9-ost1-tests.git
    update = none
[submodule "piton/design/chip/tile/sparc"]
    path = piton/design/chip/tile/sparc
    url = git@github.com:openpiton/ost1-core.git
    update = none
